{% extends "plant/base.html" %}

<p> Login page </p>

<body>
  {% block content %}  
  <div class="card col-md-6">
      <div class="card-body">
        {% if form.errors  %}
        <p>User name or Password is not correct.</p>
        {% endif %}
          <form method="POST" action="{% url 'plant:login' %}">
          {% csrf_token %}
          <label>User name</label> <br>        
          {{ form.username }}
          {{ form.username.errors }} <br>
          <label>Password</label> <br>
          {{ form.password }}
          {{ form.password.errors }} <br>
    <button type = "submit">LOGIN</button>
  </form>
  {% endblock %}      
</body>
